.main {
  text-align: center;
  font-weight: 600;
}

.main > p {
  color: blue;
}

.heading {
  font-size: xx-large;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > a {
  text-decoration: none;
  margin-left: 5px;
}
